templates: /usr/share/openstack-tripleo-heat-templates/
environments:
  - /home/stack/templates/environments/global.yaml
  - /home/stack/containers-prepare-parameter.yaml
  - /usr/share/openstack-tripleo-heat-templates/environments/network-environment.yaml
  - /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml
  - /home/stack/templates/environments/network.yaml
{% if enable_ssl is sameas true %}
  #- /usr/share/openstack-tripleo-heat-templates/environments/ssl/tls-endpoints-public-dns.yaml
  - /usr/share/openstack-tripleo-heat-templates/environments/ssl/tls-endpoints-public-ip.yaml
  - /home/stack/templates/environments/inject-trust-anchor.yaml
  - /home/stack/templates/environments/enable-tls.yaml
{% endif %}
{% if enable_telemetry is sameas false %}
  - /usr/share/openstack-tripleo-heat-templates/environments/disable-telemetry.yaml
{% endif %}
{% if enable_sriov is sameas true %}
  - /usr/share/openstack-tripleo-heat-templates/environments/services/neutron-ovs.yaml
  - /usr/share/openstack-tripleo-heat-templates/environments/host-config-and-reboot.yaml
  - /usr/share/openstack-tripleo-heat-templates/environments/services/neutron-sriov.yaml
  - /home/stack/templates/environments/sriov.yaml
{% endif %}
{% if enable_dpdk is sameas true %}
  - /usr/share/openstack-tripleo-heat-templates/environments/services/neutron-ovs.yaml
  - /usr/share/openstack-tripleo-heat-templates/environments/services/neutron-ovs-dpdk.yaml
  - /home/stack/templates/environments/ovs-dpdk.yaml
{% endif %}
{% if enable_ironic is sameas true %}
  - /usr/share/openstack-tripleo-heat-templates/environments/services/ironic.yaml # For OVS only
  - /usr/share/openstack-tripleo-heat-templates/environments/services/ironic-inspector.yaml
  - /home/stack/templates/environments/ironic.yaml
{% endif %}
{% if enable_ceph is sameas true %}
  - /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-ansible.yaml
  - /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-mds.yaml
  - /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-rgw.yaml
  - /usr/share/openstack-tripleo-heat-templates/environments/cinder-backup.yaml
  - /home/stack/templates/environments/ceph.yaml
  - /home/stack/templates/environments/ports.yaml
{% endif %}
{% if enable_ceph_external is sameas true %}
  - /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-ansible-external.yaml
  - /home/stack/templates/environments/ceph-external.yaml
{% endif %}