[DEFAULT]

overcloud_domain_name = {{ cloud.customer_name }}.{{ cloud.customer_extention }}

local_ip = {{ undercloud.ip }}/24
local_interface = {{ undercloud.br_nic }}
local_mtu = 1500

undercloud_public_host = {{ undercloud.public_ip }}
undercloud_admin_host = {{ undercloud.admin_ip }}

container_images_file = /home/stack/containers-prepare-parameter.yaml

undercloud_ntp_servers = {{ ntp_ip }}

{% if enable_uefi is sameas true %}
ipxe_enabled = true
inspection_enable_uefi = true

{% endif %}
{% if undercloud_custom_env is defined %}
custom_env_files = {{ undercloud_custom_env }}

{% endif %}
{% if enable_ceph is sameas true %}
clean_nodes=true

{% endif %}

[ctlplane-subnet]
cidr = {{ ctlplane_net.subnet }}
dhcp_start = {{ ctlplane_net.dhcp_start }}
dhcp_end = {{ ctlplane_net.dhcp_end }}
inspection_iprange = {{ ctlplane_net.inspection_iprange }}
gateway = {{ ctlplane_net.gateway }}
masquerade = true

