[DEFAULT]

overcloud_domain_name = {{ customer_name }}.lab

local_ip = {{ undercloud_ip }}/24
local_interface = {{ undercloud_br_nic }}
local_mtu = 1500

enable_routed_networks = true

undercloud_nameservers = {{ dns_ip }}
undercloud_ntp_servers = {{ ntp_ip }}

subnets = ctlplane-subnet
local_subnet = ctlplane-subnet

store_events = true
enable_tempest = true

[ctlplane-subnet]
cidr = {{ ctlplane_net.subnet }}
dhcp_start = {{ ctlplane_net.dhcp_start }}
dhcp_end = {{ ctlplane_net.dhcp_end }}
inspection_iprange = {{ ctlplane_net.inspection_iprange }}
gateway = {{ ctlplane_net.gateway }}
masquerade = true
