[DEFAULT]

overcloud_domain_name = {{ customer_name }}.lab

local_ip = {{ undercloud_ip }}/24
local_interface = {{ undercloud_br_nic }}
local_mtu = 1500

enable_routed_networks = true

undercloud_nameservers = {{ dns_ip }}
undercloud_ntp_servers = {{ ntp_ip }}

subnets = ctlplane-subnet
local_subnet = ctlplane-subnet

store_events = true
enable_tempest = true

[ctlplane-subnet]
cidr = 10.196.196.0/24
dhcp_start = 10.196.196.101
dhcp_end = 10.196.196.150
inspection_iprange = 10.196.196.50,10.196.196.97
gateway = 10.196.196.1
masquerade = true
