export ORG_ID="YOUR_ORG_ID_GOES_HERE"
export ACTIVATION_KEY="YOUR_ACTIVATION_KEY_NAME_GOES_HERE"
export REPOMIRROR_PATH="/home/nfs/repomirror"
export RHEL7_REPOS_TO_SYNC="
  rhel-7-server-rpms
  rhel-7-server-extras-rpms
  rhel-7-server-rh-common-rpms
  rhel-ha-for-rhel-7-server-rpms
  rhel-7-server-openstack-13-rpms
  rhel-7-server-openstack-14-rpms
  rhel-7-server-rhceph-3-tools-rpms
  "
export RHEL8_REPOS_TO_SYNC="
  rhel-8-for-x86_64-baseos-rpms
  rhel-8-for-x86_64-appstream-rpms
  rhel-8-for-x86_64-highavailability-rpms
  ansible-2.8-for-rhel-8-x86_64-rpms
  advanced-virt-for-rhel-8-x86_64-rpm
  satellite-tools-6.5-for-rhel-8-x86_64-rpms
  openstack-15-for-rhel-8-x86_64-rpms
  rhceph-4-tools-for-rhel-8-x86_64-rpms
  "
